// Bootstrap first, scss second, js when hopeless ಥ_ಥ
@import "./scss/mixins.scss";

// SETTINGS

:root{
  --link-color: #023859;
}

html{
  scroll-behavior: smooth;
}

$theme-colors: (
  "primary": #023859,
  "secondary": #012840,
  "info": #0790E6,
  "dark": #333333
);

.App{
  min-height: 100vh;
}

// HELPERS

.short-desc{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  -webkit-box-pack: end;
}

.pointer{
  cursor: pointer;
}

.no-bullet{
  list-style-type: none;
}

@import "./scss/loader.scss";
@import "./scss/components.scss";


// Bootstrap Override

@import "./scss/w.scss";

// Boostrap

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";