// Bootstrap first, scss second, js when hopeless ಥ_ಥ
@import "./scss/mixins.scss";

// SETTINGS

:root{
  --link-color: #023859;
}

$theme-colors: (
  "primary": #023859,
  "secondary": #012840,
  "info": #0790E6,
  "dark": #333333
);

html{
  @include basicColoring();
}

.App{
  height: 100vh;
}

// HELPERS

.mono{
  @include basicColoring();
}

.themable-link{
  color: var(--link-color)!important;
  &:hover
  {
    color: var(--text-color)!important;
  }
}

.pointer{
  cursor: pointer;
}

.no-bullet{
  list-style-type: none;
}

// BOOTSTRAP OVERRIDE

.navbar-dark{
  background-color: #333!important;
}
.navbar-brand{
  img{
    height: 3rem!important;
  }
}

@import "./scss/loader.scss";
@import "./scss/components.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";