@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// App is responsable to implement the css variables

@mixin basicColoring(){
  background-color: var(--background-color);
  color: var(--text-color);
}

.mono{
  @include basicColoring();
}

.App{
  height: 100vh;
}

html{
  @include basicColoring();
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";