.package-preview{
    transition: all 0.5s;
    width: 100%;
    .package-preview-close{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; 
    }
    .package-preview-open{
      .image-preview{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
      }
    }
}

.banner{
  height: 60vh;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 900px) {
  .banner{
    height: 70vh;
  }
}

.navbar-brand{
  img{
    height: 3rem!important;
  }
}

.choices-grid{
  .choice{
    width: 10rem;
    height: 10rem;

    .choice-icon{
      font-size: 5rem;
    }
  }
}

.choices-grid-small{
  .choice{
    width: 8rem;
    height: 8rem;
    &:hover { 
      color: white;
      
    }

    .choice-icon{
      font-size: 3rem;
    }
  }
}

.userview{
  .userimage{
    opacity: 1;
    &:hover{
      opacity: 0.1;
      z-index: -2;
    }
    transition: opacity 0.3s ease-in;
  }
  .upload-text{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
}
