.package-preview{
    transition: all 0.5s;
    width: 100%;
    .package-preview-close{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; 
    }
    .package-preview-open{
      .image-preview{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
      }
    }
}

.banner{
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.navbar-brand{
  img{
    height: 3rem!important;
  }
}

.not-found{
  .banner-animated{
    overflow: hidden;
    position: relative;
    *{
      position: absolute;
    }
    
    // VARIABLES //

    height: 40rem;
    $floor_height: 5rem;
    $creature1_height: 7rem;
    $creature1_left: 5rem;
    $leaf_height: 5rem;

    $offset_creature1: 2rem;

    /*************/

    #creature1{
      height: $creature1_height;
      bottom: $floor_height - $offset_creature1;
      left: $creature1_left;

      #creature1_body{
        top: 0rem;
        left: 0rem;
        height: 100%;
        z-index: 2;
      }
      #creature1_arm{
        top: 0.6 * $creature1_height;
        left: 0.15 * $creature1_height;
        height: 20%;
        z-index: 4;
      }
    }

    #leaf{
      height: $leaf_height;
      bottom: $floor_height - $offset_creature1 - 0.2;
      left: $creature1_left +  0.3 * $creature1_height;
      z-index: 3;
    }


    #ground{
      bottom:0;
      left: 0;
      z-index: 1;
      height: $floor_height;
      width: 100%;
      background-color: #333333;
    }
  }
  .banner-animated-body{
    margin-top: -35rem;
  }
}