#scene_error{
  // SETUP SCENE
  $floor_height: 7rem;

  /* * */

  // VARIABLES //

  $calado_left: 7rem;

  $offset_floor: 2rem;

  // SKY

  #cloudy{
    height: $md_height;
    top: 3rem;
    left: 30rem;
    animation: cloud_move_high 60s infinite;
  }

  #cloud2{
    top: 5rem;
    left: 95rem;
    animation: cloud_move_high 60s infinite;
  }

  #cloud2_light{
    height: 0.75 * $md_height;
    top: 10rem;
    left: 10rem;
    animation: cloud_move_lower 60s infinite;
  }

  #cloud2_lighter{
    height: 0.75 * $md_height;
    top: 10rem;
    left: 70rem;
    opacity: 0.7;
    animation: cloud_move_lower 60s infinite;
  }

  #cloud3{
    height: 0.75 * $md_height;
    top: 2rem;
    left: 52rem;
    animation: cloud_move_high 60s infinite;
  }

  @include move_x_animation(cloud_move_high, 2rem);
  @include move_x_animation(cloud_move_lower, 10rem);

  // GROUND

  #calado{
    height: $lg_height;
    bottom: $floor_height - $offset_floor;
    left: $calado_left;

    .calado_body{
      z-index: 2;
      @include swing_animation(creature1_swing, 0deg, -5deg);
      animation: creature1_swing 5s infinite;
    }
    .calado_arm{
      z-index: 4;
      @include swing_animation(creature1_swing_arm, 0deg, 20deg);
      animation: creature1_swing_arm 4s infinite;
    }
  }

  #leaf{
    height: $lg_height - 1.5;
    bottom: $floor_height - $offset_floor - 0.5;
    left: $calado_left +  0.6 * $md_height;
    z-index: 3;
    @include swing_animation(leaf_swing, 0deg, 1deg);
    animation: leaf_swing 2s infinite;
  }

  #tree{
    bottom: $floor_height - $offset_floor - 0.2;
    left: $calado_left + 10;
    z-index: 1;
  }

  #big_plant{
    height: 1.5 * $lg_height;
    left: 92rem;
    bottom: $floor_height - 0.1;
    z-index: 2;
  }

  #medium_plant{
    height: 0.9 * $lg_height;
    left: 95.5rem;
    bottom: $floor_height - 0.1;
    z-index: 2;
  }

  #small_plant{
    height: $md_height;
    left: 98rem;
    bottom: $floor_height - 0.1;
    z-index: 2;
  }

  #lentinha{
    height:  $lg_height;
    left: 103rem;
    bottom: $floor_height - 0.3;
    z-index: 2;
    animation: move_lentinha 1s, swing_lentinha 5s infinite;
    @keyframes swing_lentinha {
      0%   { transform: rotate(0deg); }
      50%   { transform: rotate(5deg); }
      100% { transform: rotate(0deg); }
    }
    @keyframes move_lentinha {
      0%   { transform: translateX(3rem); }
      100% { transform: translateX(0); }
    }
  }

  #ground{
    bottom:0;
    left: 0;
    z-index: 1;
    height: $floor_height;
    width: 100%;
    background-color: #333333;
  }

}
.scene-body{
  margin-top: ($scene_height * -1) + 5;
  z-index: 90;

  .content{
    height:100%;
    .header{
      /* Small devices (landscape phones, 576px and up)*/
      @media (min-width: 576px) {
        font-size: 2rem;
      }

      /* Large devices (desktops, 992px and up)*/
      @media (min-width: 992px) {
        font-size: 15rem;
      }
    }
  }
}

